*token*
*pycache*
*aos_sim*
*.db*
*wandb*
*.pkl*
*.npy*
*butler*
*.txt*
*.ckpt*
*.pt*
*.pth*
*NeuralAOS.egg*
.ipynb_checkpoints/*
*.ckpt
*ipynb_checkpoints*
*__pycache__*
*.env*
*zip
optimization_results/*.pt
*.tar.gz
